{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPM++</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Escolha a Categoria Desejada</h1>
    <div>
        <div>
            <a href="{% url 'f1' %}">
                <img src="{% static 'img/f1.png' %}" alt="F1">
            </a>
            <br>
            <a href="{% url 'nascar' %}">
                <img src="{% static 'img/nascar.png' %}" alt="Nascar">
            </a>
            <br>
            <a href="{% url 'indy' %}">
                <img src="{% static 'img/indy.png' %}" alt="Indy">
            </a>
        </div>
        </a>
    </div>
</body>
</html>
